* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #323031;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.form-container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.heading {
    background: #f7f7f7;
    padding: 20px 30px;
    text-align: center;
}

.form{
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background: rgb(22, 165, 22);
    border: none;
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background: rgb(20, 151, 20);
    transition: .2s ease;
}

.form-control.success input {
    border-color:rgb(22, 165, 22);
}

.form-control.error input {
    border-color: #e44736;
}

.form-control.error small {
    visibility: visible;
    color: #e44736;
}

@media (max-width: 610px) {
    .form-container {
        width: 350px;
    }
}

@media (max-width: 495px) {
    .heading {
        padding: 20px 20px;
        text-align: center;
    }
    .heading h1 {
        font-size: 1.7rem;
    }
    .form-container {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .heading {
        padding: 20px 20px;
        text-align: center;
    }
    .heading h1 {
        font-size: 1.4rem;
    }
    .form-container {
        width: 270px;
    }
}

@media (max-width: 280px) {
    .heading h1 {
        font-size: 1.3rem;
    }
    .form-container {
        width: 240px;
    }
}